@media screen and (min-width : 425px) and (max-width : 768px) {

    h1 {
        font-size: 3.4em;
    }
    
    #listeCarte {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carte {
        width: 27vh;
    }

    .iconesMeteo{
        font-size: 8vw;
    }

    p {
        font-size: 4vw;
    }

    h3 {
        font-size: 4vw;
    }

    #pageParametres {
        width: 75%;
    }

    #boutonAnnuler, #boutonValider {
        font-size: 2.5em;
    }

    .choixParametres {
        margin-bottom: 2vw;
    }

    .infosMeteo .iconesMeteo{
        font-size: 6vw;
    }

    .carteV2 h4{
        margin-bottom: 5px;
    }

    #meteoV2 {
        width: 97%;
    }

    .carteV2 h4{
        font-size: 4vw;
        margin-top: 10px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        padding: 2px 0 2px 0;
    }

    #meteoV2 .infosMeteo .iconesMeteo {
        font-size: 8vw;
    }

    #meteoV2 .infosMeteo p{
        font-size: 3.5vw;
    }

}

@media screen and (max-width : 426px) {
    
    h1 {
        font-size: 13vw;
    }

    input {
        width: 20vw;
    }

    #listeCarte {
        flex-direction: column;
    }

    .carte {
        width: 23vh;
    }

    .iconesMeteo{
        font-size: 17vw;
    }

    p {
        font-size: 6.5vw;
    }

    h3 {
        font-size: 6.5vw;
    }

    #zoneCodePostal {
        width: 80vw;
    }

    .villeChoisie {
        width: 80vw;
    }

    #titreVille {
        font-size: 1.6em;
    }

    #pageParametres {
        width: 100%;
    }

    #boutonParametres {
        font-size: 2.5em;
        margin: 10px;
    }

    #boutonAnnuler, #boutonValider {
        font-size: 2.3em;
    }

    .choixParametres {
        margin-bottom: 6vw;
    }

    #latitude, #longitude {
        font-size: 0.9em;
    }

    .infosMeteo .iconesMeteo {
        font-size: 10.5vw;
    }

    #meteoV2 .infosMeteo:last-child .iconesMeteo{
        margin-top: 10px;
    }

    #meteoV2 .infosMeteo:last-child .iconesMeteo{
        margin-bottom: 10px;
    }

    .infosMeteo p{
        font-size: 4vw;
        margin-left: 1vw;
        font-weight: bold;
    }

    .carteV2 h4{
        font-size: 3.5vw;
        margin-bottom: 5px;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: 1px 0 1px 0;
        margin-top: 5px;
    }

    #meteoV1 {
        padding: 5px 0 5px 0;
    }

    #meteoV2 {
        border-top: 2px solid black;
        width: 95%;
    }

}