@media screen and (min-width : 425px) and (max-width : 768px) {

    h1 {
        font-size: 3.4em;
    }
    
    #listeCarte {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carte {
        width: 27vh;
    }

    .fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain,.fa-vial,.fa-wind,.fa-compass{
        font-size: 8vw;
    }

    p {
        font-size: 4vw;
    }

    h3 {
        font-size: 4vw;
    }

    #pageParametres {
        width: 75%;
    }

    #boutonAnnuler, #boutonValider {
        font-size: 2.5em;
    }

    .choixParametres {
        margin-bottom: 40px;
    }

}

@media screen and (max-width : 426px) {
    
    h1 {
        font-size: 13vw;
    }

    input {
        width: 20vw;
    }

    #listeCarte {
        flex-direction: column;
    }

    .carte {
        width: 23vh;
    }

    .fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain,.fa-vial,.fa-wind,.fa-compass{
        font-size: 17vw;
    }

    p {
        font-size: 6.5vw;
    }

    h3 {
        font-size: 6.5vw;
    }

    #zoneCodePostal {
        width: 80vw;
    }

    .villeChoisie {
        width: 80vw;
    }

    #titreVille {
        font-size: 1.6em;
    }

    #pageParametres {
        width: 100%;
    }

    #boutonParametres {
        font-size: 2.5em;
        margin: 10px;
    }

    #boutonAnnuler, #boutonValider {
        font-size: 2.3em;
    }

    .choixParametres {
        margin-bottom: 50px;
    }

}