body {
    background-color: antiquewhite;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.375em;
    padding-top: 0.4em;
}

#titreVille {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 2.2em;
}

#barreDeRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputRecherche {
    position: relative;
}

input {
    border-radius: 3.125em;
    width: 26em;
    height: 1.7em;
}

#listeCarte{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.125em;
}

.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.25em;
    border: solid 5px black;
    border-radius: 10%;
    width: 15vw;
    height: 35vh;
}

.anim{
    position: relative;
    animation: trans 4s forwards;
}

/************************modife pour carte v2**********************************/

#element{
    display: flex;
    flex-direction: row;
    
}

.carteV2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carteV2CoteCote{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

h4{
    font-size: 2vw;
}

#listeCarteV2{
    display: flex;
    flex-direction: column;
}

/************************ fin modife pour carte v2**********************************/

@keyframes trans {
    from {
        left:100%;
    }
    to{
        left: 0%;
    }
}

.fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain,.fa-vial,.fa-wind,.fa-compass{
    font-size: 3vw;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 2vw;
}


#selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-height: 205px;
    overflow-y: scroll;
    width: max-content;
    margin-top: 10px;
}

.villeChoisie {
    width: 25em;
    height: 1.6em;
    border-radius: 3.2em;
    cursor: pointer;
    margin-bottom: 0.625em;
}

select {
    font-size: 1.6em;
}

#affichageInfosSupp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width : 425px) and (max-width : 768px) {

    h1 {
        font-size: 3.4em;
    }
    
    #listeCarte {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .carte {
        width: 25vh;
    }

    .fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain{
        font-size: 5vh;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 3vw;
    }

}

@media screen and (max-width : 426px) {
    
    h1 {
        font-size: 13vw;
    }

    input {
        width: 20vw;
    }

    #listeCarte {
        flex-direction: column;
    }

    .carte {
        width: 23vh;
    }

    .fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain{
        font-size: 7vh;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 5vw;
    }

    #zoneCodePostal {
        width: 80vw;
    }

    .villeChoisie {
        width: 80vw;
    }

    #titreVille {
        font-size: 1.7em;
    }

}