body {
    background-color: antiquewhite;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.375em;
    padding-top: 0.4em;
}

#titreVille {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#latitudeLongitude {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#latitude, #longitude {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 1em;
}

#barreDeRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputRecherche {
    position: relative;
}

input {
    border-radius: 3.125em;
    width: 26em;
    height: 1.7em;
}

#listeCarte{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    flex-wrap: wrap;
    gap: 100px;
    /* border: 5px solid green; */
}

.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 5px black;
    border-radius: 10%;
    width: 15vw;
    height: 35vh;
    background-color: rgba(255,255,255,0.027);
    backdrop-filter: blur(10px);
}

.anim{
    position: relative;
    animation: trans 4s forwards;
}

@keyframes trans {
    from {
        left:100%;
    }
    to{
        left: 0%;
    }
}

/************************modife pour carte v2**********************************/


#listeCarteV2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid blue; */
    margin: 1.5em;
}


.carteV2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.4vw black;
    border-radius: 3vw;
    margin: 1vh;
    padding: 1% 1% 2%;
    background-color: rgba(255,255,255,0.027);
    backdrop-filter: blur(10px);
    /* box-shadow: 0 0 15px 0 rgb(102, 239, 198); */
}

.carteV2 h4 {
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
    border-bottom: 4px solid black;
    border-width: 100%;
    border-top: 4px solid black;
    /* box-shadow: 0 0 15px 0 rgb(102, 239, 198); */
}

#element{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5vh;
}

.infosMeteo p{
    font-size: 2vw;
    margin-left: 1vw;
    font-weight: bold;
}

.infosMeteo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    /* border: 2px solid red; */
    /* box-shadow: 0 0 15px 0 rgb(102, 239, 198); */
}

#meteoV1 {
    display: flex;
    flex-direction: row;
}

#meteoV2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
    width: 100%;
}

.infosMeteo .fa-sun, .infosMeteo .fa-temperature-low, .infosMeteo .fa-temperature-high, .infosMeteo .fa-cloud-rain, .infosMeteo .fa-vial, .infosMeteo .fa-wind, .infosMeteo .fa-compass{
    display: flex;
    margin: 0;
    padding: 0;
}

/************************ fin modife pour carte v2**********************************/


.fa-sun,.fa-temperature-low,.fa-temperature-high,.fa-cloud-rain,.fa-vial,.fa-wind,.fa-compass {
    font-size: 4vw;
    margin-top: 30px;
}

h2{
    font-size: 2vw;
}

h3{
    font-size: 2vw;
}


#selection {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: 205px;
    overflow-y: auto;
    width: max-content;
    margin-top: 10px;
}

.villeChoisie {
    width: 25em;
    height: 1.6em;
    border-radius: 3.2em;
    cursor: pointer;
    margin-bottom: 0.625em;
}

.villeChoisie:last-child{
    margin-bottom: 0;
}

select {
    font-size: 1.6em;
}

/*********************Début style Page Paramètres*******************/
#pageParametres {
    /* visibility: hidden; */
    color: whitesmoke;
    position: fixed;
    background-color: rgb(35, 34, 34);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    right: 100%;
    top: 0;
    z-index: 1;
}

#parametres {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

#boutonParametres {
    display: flex;
    justify-content: flex-end;
    font-size: 3em;
    margin: 20px;
    cursor: pointer;
}

#boutonAnnuler :hover{
    cursor: pointer;
    transition: 0.9s;
    transform: rotate3d(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

#boutonAnnuler, #boutonValider {
    font-size: 3em;
}

#boutonAnnuler {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 0;
}

#boutonValider {
    color: green;
    cursor: pointer;
    display: flex;
    align-self: center;
    width: fit-content;
}

.choixParametres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.choixParametres p {
    display: flex;
    align-self: center;
    padding-right: 5px;
    font-size: 1.1em;
}

#pageParametres h1 {
    text-decoration: underline;
    font-size: 3em;
    margin: 0;
    margin-bottom: 10px;
}

#ValiderAnnuler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputRange {
    position: relative;
    width: 25vw;
}

input[type="range"] {
    width: 100%;
    appearance: none;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #2196F3;
    border-radius: 50%;
    cursor: pointer;
}

.valeur {
    position: absolute;
    top: -30px; /* Position au-dessus du curseur */
    transform: translateX(-60%);
    font-size: 1em;
    color: #333;
    background: white;
    padding: 2px 5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.apparitionPageParam {
    animation: apparitionPageParam 2s forwards;
}

.disparitionPageParam {
    animation: disparitionPageParam 2s forwards;
}

@keyframes apparitionPageParam {
    from {
        right: -100%;
    } to {
        right: 0;
    }
}

@keyframes disparitionPageParam {
    from {
        right: 0;
    } to {
        right: -100%;
    }
}

/*****************************************************************************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}